<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/classnotify"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/classnotify_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClassNotify"
        tools:targetApi="31">
        <activity
            android:name=".developer"
            android:exported="false" />
        <activity
            android:name=".aboutTheApp"
            android:exported="false" />
        <activity
            android:name=".LoadingScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".addForm_dialog"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WeekTable"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Choices"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".studentForm"
            android:exported="false"
            android:label="@string/title_student_form"
            android:parentActivityName=".MainActivity"> <!-- Adjusted parent activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".InstructorForm"
            android:exported="false"
            android:parentActivityName=".Choices" />
    </application>

</manifest>